version: "3.9"

services:
  web:
    build: .
    container_name: carona_app
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - ./db.sqlite3:/app/db.sqlite3        # <- monta o arquivo db.sqlite3 da raiz
      - ./staticfiles:/app/staticfiles
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
